@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,600;0,700;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  background: #F5F5F5;
}

header {
  display: flex;
  justify-content: space-between;
  background: #5D5FEF;
  height: 10vh;
  align-items: flex-end;
}

h1 {
  color: #5D5FEF;
  text-align: center;
  font-size: 24px;
  line-height: 25px;
  margin-top: 2rem;
  font-weight: 700;
}

header div {
  margin-bottom: 0.5vh;
  padding: 1vh;
}


form {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 1rem;
}

input,
select {
  margin: 1.5vh;
  border-radius: 5px;
  font-size: 1.5rem;
  width: 95%;
  background: #F2F2F2;
  width: 343px;
  height: 56px;

}

.select {
  margin: 1.5vh;
  border-radius: 5px;
  font-size: 1.5rem;
  width: 95%;
  background: #F2F2F2;
  width: 350px;
  height: 56px;
}


input:valid {
  border: 2px solid black;
}

input:invalid {
  border: 2px solid rgb(253, 56, 56);
}


footer {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
}

.privacity {
  display: flex;

}

.privacity label {
  height: 14px;
  font-family: 'Raleway';
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  align-items: center;
  letter-spacing: -0.01em;
  color: #333333;
}

.privacity input {
  margin: 0;
}

.radio {
  Width: 24px;
  Height: 24px;
  background-color: #5D5FEF;
}

.button {
  width: 343px;
  height: 56px;
  left: 16px;
  top: 984px;
  margin: auto;
  margin-top: 1rem;
  background: #5D5FEF;
  color: #F2F2F2;
  border-radius: 8px;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
}



input:focus:invalid {
  box-shadow: 0 0 5px 1px red;
}

input[name="nombre"]::-webkit-input-placeholder {
  position: relative;
  font-size: 1.3rem;
  padding: 0.5rem;
  transition: 0.3s ease-in-out;
}

input[name="nombre"]:focus::-webkit-input-placeholder {
  position: absolute;
  font-size: small;
  padding: 0;
}

input[name="apellido"]::-webkit-input-placeholder {
  position: relative;
  font-size: 1.3rem;
  padding: 0.5rem;
  transition: 0.3s ease-in-out;
}

input[name="apellido"]:focus::-webkit-input-placeholder {
  position: absolute;
  font-size: small;
  padding: 0;
}

input[name="email"]::-webkit-input-placeholder {
  position: relative;
  font-size: 1.3rem;
  padding: 0.5rem;
  transition: 0.3s ease-in-out;
}

input[name="email"]:focus::-webkit-input-placeholder {
  position: absolute;
  font-size: small;
  padding: 0;
}

input[name="password"]::-webkit-input-placeholder {
  position: relative;
  font-size: 1.3rem;
  padding: 0.5rem;
  transition: 0.3s ease-in-out;
}

input[name="password"]:focus::-webkit-input-placeholder {
  position: absolute;
  font-size: small;
  padding: 0;
}

input[name="co-password"]::-webkit-input-placeholder {
  position: relative;
  font-size: 1.3rem;
  padding: 0.5rem;
  transition: 0.3s ease-in-out;
}

input[name="co-password"]:focus::-webkit-input-placeholder {
  position: absolute;
  font-size: small;
  padding: 0;
}

input[name="tel"]::-webkit-input-placeholder {
  position: relative;
  font-size: 1.3rem;
  padding: 0.5rem;
  transition: 0.3s ease-in-out;
}

input[name="tel"]:focus::-webkit-input-placeholder {
  position: absolute;
  font-size: small;
  padding: 0;
}

.hr {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  letter-spacing: -0.01em;
  color: #828282;
}